<form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
    <div class="form-group">
        <label for="name">Task Name</label>
        <input type="text" class="form-control" id="taskName" required name="taskName" ngModel #taskName="ngModel">
        <div [hidden]="taskName.valid || taskName.pristine" class="alert alert-danger">
            Name is required
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
            <select class="form-select" name="category" id="category" ngModel>
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!todoForm.form.valid">Submit</button>
</form>
<br>
<br>
<div>
    <h1>To-do List</h1>
    <ol>
        <li *ngFor="let task of tasks; let i = index">
          {{ task.task }} - {{ task.category }} - {{ task.isCompleted }}
        </li>
      </ol>
      
</div>